/*

web-ontwikkelaar

*/

.grid-container {
    display: grid;
    grid-template-columns: 3fr 1fr;
    grid-gap: 0px;
    padding: 0px;
    align-content: center;
}

.grid-item {
    padding: 0px;
}

.item1 {
    background: #FCFAF8;
    grid-column: 1 / span 2;
    grid-row: 1;
}

.item2 {
    background: #FCFAF8;
    font-size: 15px;
    grid-column: 1 / span 2;
    grid-row: 2;
}

.item3 {
    background: #bbb7af;
    grid-column: 1 / span 2;
    grid-row: 3;
    height: auto;
    /*border: #DCDAD8;
    margin: 2px;*/
    /*background-color: #EBE8E5*/
}

.item4 {
    grid-column: 1 / span 3;
    grid-row: 4;
}

.item5 {
    background: #FCFAF8;
    grid-column: 1 / span 3;
    grid-row: 5;
}

.column {
    float: left;
    width: 20.33%;
    gap: 5em;
}


/* Clear floats after the columns */

.row:after {
    content: "";
    display: table;
    clear: both;
}

#login {
    background-color: #8FB209;
    text-align: right;
    padding: 0em;
    margin: 2px;
}

.wrapper {
    /*width: 100%;*/
    background-color: #EBE8E5;
    margin: 0 auto;
    padding: 0;
    outline: none;
    border: none;
}

body {
    /*background-color: #FCFAF8;*/
    color: #000;
    font: small Arial, sans-serif;
    width: 100%;
    /*
    margin-left: 100px;
    margin-right: 100px;*/
}

header {
    background-color: #FCFAF8;
    margin: 0 100px 0 100px;
    height: 95px;
    border-bottom: 1px solid silver;
}

#logo {
    float: left;
    padding: 0;
}

#webdeveloper {
    margin: 0 100px 0 100px;
}

#webdeveloper img {
    float: right;
    background-color: #E9DCE9;
    padding: 7px;
    margin-bottom: 1em;
    height: 150px;
}

#webdeveloper h1 {
    color: #7ea107;
    font-size: 2.2em;
    margin: 0.4em 0;
    line-height: 1.5em;
}

#webdeveloper h2 {
    font-style: oblique;
    font-size: 1.3em;
    margin: 0.4em 0;
    line-height: 1.2em;
}

section {
    margin: 0 100px 0 100px;
    text-align: center;
}

main {
    margin: 0 100px 0 100px;
}

main h2 {
    color: #7ea107;
    text-align: center;
}

main img {
    float: left;
    background-color: #8f8c8f;
    margin: 1px;
    padding: 7px;
    top: 170px;
}

section h2 {
    text-align: left;
    color: #7ea107;
}

ul {
    list-style: none;
}

ul li:before {
    content: '✓';
    color: chartreuse;
}

header ul {
    margin: 0.9em;
    padding: 0;
}

header li {
    display: inline;
    margin: 0 1em;
    color: #665950;
}

header a {
    text-decoration: none;
}

header nav {
    float: right;
}

header form {
    float: right;
    clear: right;
    margin-top: 2em;
    font-size: 0.9em;
}

header hgroup {
    /*background-color: cadetblue;*/
    margin-left: 1em;
    color: navy;
    font-style: italic;
}

header h1 {
    color: #8FB209;
    font-size: 2.2em;
    margin: 0.4em 0;
    line-height: 1.5em;
}

header h2 {
    font-style: oblique;
    font-size: 1.3em;
    margin: 0.4em 0;
    line-height: 1.2em;
}

header h3 {
    font-size: 1.1em;
    margin: 0.2em 0;
    line-height: 1.2em;
}

footer {
    background-color: #FCFAF8;
    clear: both;
    border-top: 1px solid silver;
    text-align: justify;
    font-size: smaller;
    margin: 0 100px 0 100px;
}